.footer
{
    padding: 3rem 0%;
    background-color: #353535;
}


.footer .box-container
{
    width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 20px;
}

.footer .box-container .box .logo img
{
    width: 200px;
    margin-bottom: 1rem;
}

.footer .box-container .box .contact ul li
{
    margin-bottom: 1rem;
}

.footer .box-container .box .contact ul li span
{
    margin-left: 5px;
    font-size: 0.9rem;
    font-weight: 300;
}

.footer .box-container .box h4
{
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer .box-container .box ul li
{
    margin-bottom: 0.5rem;
}

.footer .box-container .box ul li a
{
    color: var(--color-white);
    font-size: 0.9rem;
    font-weight: 400;
}

.footer .box-container .box ul li:hover a
{
    color: var(--color-green);
}

.footer .box-container .box p
{
    font-size: 0.9rem;
    font-weight: 400;
    color: #a0a0a0;
    margin-bottom: 1rem;
}

.footer .box-container .box .form
{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}

.footer .box-container .box .form input
{
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
}

.footer .box-container .box .form button
{
    position: absolute;
    right: 5px;
    padding: 12px 15px;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--color-white);
    background-color: #353535;
    cursor: pointer;
}

.footer .box-container .box .form button:hover
{
    background-color: var(--color-green);
    color: var(--color-black);
}

.footer .box-container .box .social ul
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer .box-container .box .social ul li a i
{
    font-size: 1.3rem;
}

.footer .box-container .box .social ul li a i:hover
{
    color: #a0a0a0;
}

/* Responsive */
@media screen and (max-width: 1440px)
{
    .footer
    {
        padding: 3rem 4%;
    }
    .footer .box-container
    {
        width: 100%;
    }   
}